Flask>=0.11
click>=6.2
docker>=2.0.2
GitPython>=1.0.1
raven>=5.10.2
blinker>=1.4
pyyaml>=3.11
flask-mail>=0.9.1
unidiff>=0.5.2
optionaldict>=0.1.1
flake8>=2.5.2
pep8-naming>=0.3.3
pycodestyle
yamllint>=1.0.0
bandit>=0.17.3
restructuredtext-lint>=0.14.2
pylint>=1.5.4
certifi
requests[security]
flake8-import-order>=0.9.2
deansi>=1.2
cryptography>=1.7.1
marshmallow>=2.12.2
marshmallow-oneofschema
twine
flake8-bugbear
is-minified-js
mypy
